.title{
    color: #ffffff;
    font-size: 3rem;
}
.divtitle{
    background-color: #be42ad4f;
    text-align: center;
    width: 650px;
    height: 70px;
    margin-left: 310px;
}
.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    max-width: 1300px;
    margin: 10px auto;
}
body{
    background-image: url(../images/fondo.webp);
}
.memo-block {
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

.memo-block-front, .memo-block-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
}
  
.memo-block-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.memo-block-flipped {
    transform: rotateY(180deg);
}

.memo-block-back {
    background-color: #f8d9db;
    transform: rotateY(180deg);
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
}

.memo-block-front {
    background-color: #f040d8;
}
@media (max-width: 320px){
    .title{
        color: #ffffff;
        font-size: 1rem;
    }
    .divtitle{
        background-color: #be42ad4f;
        text-align: center;
        width: 250px;
        height: 50px;
        margin-left: 50px;
    }
    .board {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        max-width: 1300px;    
    }
    body{
        background-image: url(../images/fondo.webp);
    }
    .memo-block {
        cursor: pointer;
        aspect-ratio: 1 / 1;
    }
    
    .memo-block-front, .memo-block-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 4px;
    }
      
    .memo-block-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }
    
    .memo-block-flipped {
        transform: rotateY(180deg);
    }
    
    .memo-block-back {
        background-color: #f8d9db;
        transform: rotateY(180deg);
        box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
}

@media (max-width: 445px){
    .title{
        color: #ffffff;
        font-size: 1rem;
    }
    .divtitle{
        background-color: #be42ad4f;
        text-align: center;
        width: 250px;
        height: 50px;
        margin-left: 50px;
    }
    .board {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        max-width: 1300px;    
    }
    body{
        background-image: url(../images/fondo.webp);
    }
    .memo-block {
        cursor: pointer;
        aspect-ratio: 1 / 1;
    }
    
    .memo-block-front, .memo-block-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 4px;
    }
      
    .memo-block-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }
    
    .memo-block-flipped {
        transform: rotateY(180deg);
    }
    
    .memo-block-back {
        background-color: #f8d9db;
        transform: rotateY(180deg);
        box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
}